/* Styles généraux */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.background {
    background-image: url('../img/ChienChat.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px; 
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 320px;
}

.container h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.container p {
    font-size: 18px;
    line-height: 1.6;
}

/* Styles pour les cartes */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 30%;
    background-color: #FFDFD8;
    border-radius: 10px;
    border: solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}

.card h2 {
    font-size: 20px;
    color: #333333;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #666666;
    margin-bottom: 5px;
}

.card p:last-child {
    margin-bottom: 0;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.photo {
    max-width: 100px;
    border-radius: 5px;
    float: right;
    margin-left: 10px;
}

.upload-form {
    margin-top: 10px;
}

.upload-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 300px;
    text-align: center;
}

/* Styles pour les boutons */
.contact-button {
    background-color: #FF8A00;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.contact-button:hover {
    background-color: #ff7b00;
}